# Personalized name for ignore
ignore.**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual Studio Code
.vscode/

# Temporary file for partial code execution
tempCodeRunnerFile.py

# Node / React
node_modules/
frontend/dist/
frontend/build/

# Data
data/raw/
data/processed/
*.csv
*.zip

# Models fiting
ml/models/**/*.joblib

# Docker / infra
*.log